/*Follow this guide for formatting: https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/*/
/*Only use the following colors
Dark Green  #379783
Mid Green   #1CB64B (Only for button hover)
Light Green #5CDB95
Navy Blue   #05386B
Off White   #EDF5E1
*/

body {
    background-color: #5CDB95;
}

#title {    
    margin-top: 5%;

    color: #05386B;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

input[type="text"],input[type="password"]{
    width: 80%;
    border-radius: 25px;
    margin-bottom: 2%;
    outline: none;

    color: #05386B;
    font-size: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.buttons{
    width: 25%;
    padding: 10px;
    border-radius: 25px;
    border: none;

    color: #05386B;
    background-color: #5CDB95;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    color: #5CDB95;
    background-color: #1CB64B;
}

.invertedButtons{
    margin-top: 5%;
    width: 15%;
    padding: 10px;
    border-radius: 25px;
    border: none;

    color: #EDF5E1;
    background-color: #379783;

    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.invertedButtons:hover{
    color: #05386B;
    background-color: #1CB64B;
}

.invertedMiniButtons{
    display:inline-block;
    width: 40%;
    padding: 0px;
    border-radius: 25px;
    border: none;

    color: #EDF5E1;
    background-color: #379783;

    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}

.invertedMiniButtons:hover{
    color: #05386B;
}

#loginDiv{
    width: 70%;
    padding: 25px;
    border-radius: 25px;
    margin: auto;

    background-color: #379783;
    font-size: 30px;
    text-align: center;
}

#inner-title{
    display:inline-block;
    width: 90%;
    margin-bottom: 2%;

    color: #EDF5E1;
    font-size: 0.8em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.innerText{
    display:inline-block;
    width: 20%;
    margin-bottom: 2%;

    color: #EDF5E1;
    font-size: 0.8em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.inline{
    display: inline-block;
}

#searchTop{
    width: 100%;

    text-align: center;
}

#searchText{
    font-size: 15px;
}

#addButton{
    margin-left: 15%;
    float: left;
}

#logoutButton{
    margin-right: 15%;
    float: right;
}

#searchBottom{
    height: 60px;
    line-height: 60px;
    display: inline-block;
    width: 100%;
}

#searchBar{
    height: 100%;
    float: left;
    width:40%;
}

#userName{
    display: inline-block;
    width: 80%;
    
    text-align: center;
}

#searchButton{
    float:right;
}

#divider{
    color:#05386B
}

#SearchResult{
    display: none;
}

#searchResultsTable{
    width: 100%
}

tr { 
    border: none; 
}

th{
    display: inline-block;
    width: 22%;

    color: #EDF5E1;
    font-size: 25px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
}

td{
    display: inline-block;
    width: 22%;

    color: #EDF5E1;
    font-size: 25px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
}

#buttonCell{
    text-align: right;
}