/*
This is organized first by general use styling such as the background,
then grouped by which page a style is used on, in the following order:
index.html (login page), register.html (registration page), main.html
(the contact lookup page).*/
/*
A lot of the styling looks the same but with just different names. This
should help with the javascript end of things.
*/
body 
{
    background-color: #5CDB95;
}

#title 
{
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    color: #05386B;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: #05386B;
    outline: none;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 100%;
    background-color: #5CDB95;
    border: none;
    color: #05386B;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #5CDB95;
    opacity: 100%;
}

.inlineButton
{
    display: inline-block;
    width: 25%;
}

#buttonsGroup
{
    width: 100%;
    text-align: center;
}

#loginDiv
{
    margin: auto;
    border-radius: 25px;
    font-size: 30px;
    width: 70%;
    padding: 25px;
    background-color: #379783;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #EDF5E1;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #EDF5E1;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

#searchDiv
{
    margin: auto;
    border-radius: 25px;
    font-size: 30px;
    width: 70%;
    padding: 25px;
    background-color: #379783;
}

#searchName
{
    color: #05386B;
	font-size: 30px;
    border: none;
}

#searchBar { 
    position: relative; width:80%; margin-left: 0%;
}

#searchBar input { 
    border:none; display:block; width: 100%; box-sizing: border-box; outline: none;
}

#searchBar img { 
    position: absolute; top: 10%; left: 15% ;
}