/*Follow this guide for formatting: https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/*/
body {
    background-color: #5CDB95;
}

#title {    
    margin-top: 5%;

    color: #05386B;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

input[type="text"],input[type="password"]{
    width: 80%;
    border-radius: 25px;
    margin-bottom: 2%;
    outline: none;

    color: #05386B;
    font-size: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.buttons{
    width: 25%;
    padding: 10px;
    border-radius: 25px;
    border: none;

    color: #05386B;
    background-color: #5CDB95;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    color: #5CDB95;
    background-color: #00d5124f;
}

#loginDiv{
    width: 70%;
    padding: 25px;
    border-radius: 25px;
    margin: auto;

    background-color: #379783;
    font-size: 30px;
    text-align: center;
}

#inner-title{
    display: inline-block;
    width: 90%;
    margin-bottom: 2%;

    color: #EDF5E1;
    font-size: 0.8em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.innerText{
    display: inline-block;
    width: 90%;
    margin-bottom: 2%;

    color: #EDF5E1;
    font-size: 0.8em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#userName{
    display: inline-block;
    width: 80%;
    
    text-align: center;
}

#logoutButton{
    width: 20%;
}